* {
    box-sizing: border-box;
}

body { 
  margin: 0;
  background-color: floralwhite;
  background-repeat: no-repeat;
}

/* Header */
header {
    padding: 10px 0;
    background-color: navy;
    justify-content: center;
}

.header-content {
    display: flex;
    flex-direction: row;
    margin: 0 170px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
}

.emp-text {
    color: dodgerblue;
}

.emp-payroll {
    color: gold;
}

.attached-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}

/* Form */
.form-content {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    margin: 20px 0;
}

.form-head {
    font-size: 25px;
    font-weight: 500;
    color: blue;
    text-decoration: underline;
    justify-content: center;
    text-align: center;
    margin: 0 0 20px 0;
}

.form {
    width: 53%;
    padding: 20px 50px;
    background: #fff;
    box-shadow: 1px 3px 6px navy;
    border: 0;
    border-radius: 8px;
}

.row-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
    border: 0px solid green;
}

.label {
    min-width: 140px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.text {
    font-size: 16px;
    color: #42525f;
    opacity: 1;
    font-family: Roboto;
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.profile-radio-content {
    display: flex;
    flex-direction: row;
}

.profile-radio-content > label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile {
    width: 40px;
    border-radius: 50%;
    margin-left: 12px;
}

.input-range {
    width: 100%;
}

select {
    padding: 12px;
    width: 20%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 16px;
}

